<div class="batteries">
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #1</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[0]" data="vm.memoryChartData[0]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #2</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[1]" data="vm.memoryChartData[1]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #3</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[2]" data="vm.memoryChartData[2]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #4</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[3]" data="vm.memoryChartData[3]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #5</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[4]" data="vm.memoryChartData[4]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #6</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[5]" data="vm.memoryChartData[5]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #7</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[6]" data="vm.memoryChartData[6]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #8</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[7]" data="vm.memoryChartData[7]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #9</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[8]" data="vm.memoryChartData[8]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #10</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[9]" data="vm.memoryChartData[9]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #11</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[10]" data="vm.memoryChartData[10]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #12</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[11]" data="vm.memoryChartData[11]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #13</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[12]" data="vm.memoryChartData[12]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #14</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[13]" data="vm.memoryChartData[13]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #15</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[14]" data="vm.memoryChartData[14]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #16</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[15]" data="vm.memoryChartData[15]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #17</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[16]" data="vm.memoryChartData[16]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #18</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[17]" data="vm.memoryChartData[17]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #19</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[18]" data="vm.memoryChartData[18]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #20</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[19]" data="vm.memoryChartData[19]"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #21</h3>
        </div>
        <md-content ng-controller="MemoryController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions[20]" data="vm.memoryChartData[20]"></nvd3>
        </md-content>
    </section>
</div>