<div class="drones">
    <div class="table-responsive-vertical md-whiteframe-z1">
        <table id="table" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Model</th>
                <th>Status</th>
                <th>Batteries</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-title="ID"></td>
                <td data-title="Issue"></td>
                <td data-title="Status"></td>
                <td data-title="Progress">
                    <md-progress-linear class="table-progress "
                                        md-mode="determinate"
                                        >
                    </md-progress-linear>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>