<div class="heights">
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #1</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #2</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #3</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #4</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #5</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #6</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #7</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #8</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #9</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #10</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #11</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #12</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #13</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #14</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #15</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #16</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #17</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #18</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #19</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #20</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
    <section>
        <div class="md-toolbar-tools">
            <h3 class="panel-widget-tittle ng-binding">Dron #21</h3>
        </div>
        <md-content ng-controller="WarningsController as vm" layout="row" layout-align="center center">
            <nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>
        </md-content>
    </section>
</div>